html, body {
	height: 100%;
}

body {
	background: rgb(47,43,44);
/* 	background: rgb(123,75,153);
	background: linear-gradient(63deg, rgba(123,75,153,1) 4%, rgba(218,60,53,1) 40%, rgba(235,118,61,1) 71%, rgba(252,176,69,1) 86%); */ 
	display: flex;
}

/* Typewriter effect taken from: https://css-tricks.com/snippets/css/typewriter-effect/ */
/* DEMO-SPECIFIC STYLES */

.typewriter {
	color: #fff;
	font-family: 'Anonymous Pro', monospace;
	letter-spacing: .22em;
}

main {
	width: 100%;
}

h1 {
	color: #fff;
	font-size: 6em;
}

h2 {
	letter-spacing: .22em; 
	color: #fff;
	font-size: 3.2em;
}

#blog {
	letter-spacing: .10em;
	font-size: 0.7em;
}

.fa, a {
	color: rgba(225, 144, 86, 0.8);
}

.fa:hover, a:hover {
	color: rgba(225, 144, 86, 0.55);
	text-decoration: none;

}
#pdficon {
	font-size: 0.9em;
}
